<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Mongo File Upload</title>
    <style>
        img{width: 100%;}
        body {
            background:rgba(26,38,57,1) !important;
        }
        .container-main{
            margin-right: 5%;
            margin-left: 5%;
            margin-top: 3%;
        }
        .card-columns {
            column-gap: 80px;
        }

        .btn-colorupload {
            background-color: lightgoldenrodyellow;
            color: rgba(26,38,57,1);
        }

        .btn-colordelete {
            background-color: #C24D2C;
            color: #f8fff1;
        }

        .card {
            width: 400px;
            hight: 400px;
        }
        .nav-btn {
            margin-left: 30px;
        }
        /* Right-aligned section inside the top navigation */
        .topnav-right {
            float: right;
        }

        #right-panel {
            background-color:rgba(194,77,44,1);
            color:rgba(246,225,184,1);
            width: 150px;
            font-size: 150%;
            border:none;
        }
        #right-panel:hover{
            color: rgba(194,77,44,1);
            background-color: rgba(246,225,184,1);
        }
        .nav {
            background-color:rgba(26,38,57,1);
            padding-left: unset;
        }
        .logo_text {
            font-size: 250%;
            margin-left: unset;
        }


    </style>
</head>

<body>
<div class="container-fluid">
    <nav class="navbar nav">
        <ul class="navbar-nav">
            <div >
                <span  class = 'logo_text' style="color:rgba(194,77,44,1);">My</span>
                <span  class = 'logo_text' style="color:rgba(246,225,184,1);">E</span>
                <span  class = 'logo_text' style="color:rgba(194,77,44,1);">Portfolio</span>
            </div>
        </ul>
        <div class ="topnav-right">
            <div class ="row">
                <ul class="navbar-nav nav-btn">
                    <form action="/user-eportfolio" method="get">
                        <button class = "btn" id="right-panel">E-Portfolio</button>
                    </form>
                </ul>
                <ul class="navbar-nav nav-btn">
                    <form action="/user-mainpage" method="get">
                        <button class = "btn" id="right-panel">Homepage</button>
                    </form>
                </ul>
                <ul class="navbar-nav nav-btn">
                    <form action="/api/logout" method="get">
                        <button class = "btn" id="right-panel">Logout</button>
                    </form>
                </ul>
                <ul class="navbar-nav nav-btn">
                    <form action="/language" method="get">
                        <button class = "btn" id="right-panel">Setting</button>
                    </form>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-main">
        <div class="col-md-6 m-auto">
            <form method="post" action="/file/upload"  enctype="multipart/form-data">
                <div class="custom-file mb-3">
                    <input type="file" name="file" id="file" class="custom-file-input">
                    <label for="file" class="custom-file-label">Choose Upload File</label>
                </div>
                <input type="submit" value="Submit" class="btn btn-block btn-colorupload">
            </form>
        </div>
        <hr>
        <div class="card-columns">
            <% if (user) { %>
                <% for (var i = 0; i < user.fileInfo.length; i++) { %>
                    <div class="card">
                        <% if(user.fileInfo[i].fileType=="image/jpeg"){%>
                            <img class="card-img-top" src="/file/main/image/<%= user.fileInfo[i].fileName%>" alt="">
                        <% }else if(user.fileInfo[i].fileType=="application/pdf"){ %>
                            <p>Open a PDF file <a href="/file/main/image/<%= user.fileInfo[i].fileName%>"><%=user.fileInfo[i].fileName%></a>.</p>
                        <% }else if(user.fileInfo[i].fileType=="video/mp4"){ %>
                                <video width="320" height="240" controls>
                                    <source src="/file/main/image/<%= user.fileInfo[i].fileName%>" type="video/mp4">
                                </video>
                        <% } %>
                        <p><%= user.fileInfo[i].fileName%> : <%= user.fileInfo[i].fileDesc%></p>
                        <button class="btn btn-colordelete btn-block mt-4" id="<%= user.fileInfo[i].fileId%>" type="button" onclick="edit(this)" style="margin-bottom: -20px">Edit file desc</button>
                        <form method="POST" action="/file/delete/<%= user.fileInfo[i].fileId %>/?_method=DELETE">
                            <button class="btn btn-colordelete btn-block mt-4" >Delete</button>
                        </form>
                    </div>
                <% } %>
            <% } else { %>
                <p> No Files to show</p>
            <% } %>
        </div>
    </div>
    <div id="myModal" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit File Desc</h5>
                <span class="close">x</span>
            </div>
            <div class="modal-body">
                <form name="updateFileDesc" action="/file/edit" method="get">
                    <input id="fileId" type="hidden" name="fileId"></br>
                    <input type="text" name="fileDesc" placeholder="">
                    <button type="submit" class="button">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script>
        function edit(value){
            var id = value.getAttribute('id');
            modal.style.display= "block";
            document.getElementById('fileId').value = id;
        }
        var modal = document.getElementById("myModal");
        var span = document.getElementsByClassName("close")[0];
        span.onclick = function (){
            modal.style.display= "none";
        }

    </script>
</body>
</html>
