<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <% if (user) {%>
        <% for(var j=0; j<user.project.length;j++){%>
            <% if(user.project[j]._id==projectId){ %>
                <% if(user.project[j].projectTheme == 3){ %>
                    <link rel= "stylesheet" id="main" type="text/css"href="/css/user-project-forest.css">
                <% } %>
                <% if(user.project[j].projectTheme == 2){ %>
                    <link rel= "stylesheet" id="main" type="text/css"href="/css/user-project-sc.css">
                <% } %>
                <% if(user.project[j].projectTheme == 1){ %>
                    <link rel= "stylesheet" id="main" type="text/css"href="/css/user-project-default.css">
                <% } %>
            <% } %>
        <% } %>
    <% } %>
    <title>User Project</title>
    <style>
        #container {
            width: 100vw;
            height: 1300px;
            display: flex;
            justify-content: center;
            overflow: hidden;
            touch-action: none;
        }
        .item {
            touch-action: none;
            user-select: none;
            position: relative;
            width: 200px;
        }

        .item:active {
            opacity: .75;
        }

        .item:hover {
            cursor: pointer;
        }
        .btn-colordelete {
            background-color: #C24D2C;
            color: lightgoldenrodyellow
        }
        .card {
            border-style: none;
            padding: 8px;
            margin-top: 5px;
            margin-bottom:5px;
        }
        .nav-btn {
            margin-left: 30px;
        }
        /* Right-aligned section inside the top navigation */
        .topnav-right {
            float: right;
        }
        #right-panel {
            background-color:transparent;
            width: 150px;
            font-size: 160%;
            font-weight: normal;
            border:none;
            text-align: right;
        }
        .logo_text {
            font-size: 250%;
            margin-left: unset;
        }
        .btn-deleteComment {
            background-color: rgba(194,77,44,1);
            float: right;
            color: midnightblue;
        }

        .btn-viewproject {
            background-color: lightgoldenrodyellow;
        }
        .editprofile {
            margin: 10px;
        }
                .profile-text {
                    margin-right:20px;
                }
        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 60px;
            background-color: rgba(194,77,44,1);
            color: rgba(26,38,57,1);
        }
        hr {
            color: #ffffff;
            position: absolute;
        }
        html, body {
            height: 100%;
        }
        .project-body {
            height: 100%;
        }
        .popup .resizer-right {
            width: 5px;
            height: 100%;
            background: transparent;
            position: absolute;
            right: 0;
            bottom: 0;
            cursor: e-resize;
        }
        .popup .resizer-bottom {
            width: 100%;
            height: 5px;
            background: transparent;
            position: absolute;
            right: 0;
            bottom: 0;
            cursor: n-resize;
        }
        .popup .resizer-both {
            width: 5px;
            height: 5px;
            background: transparent;
            z-index: 10;
            position: absolute;
            right: 0;
            bottom: 0;
            cursor: nw-resize;
        }
        /*NOSELECT*/
        .popup * {
            -webkit-touch-callout: none; /* iOS Safari */
            -webkit-user-select: none; /* Safari */
            -khtml-user-select: none; /* Konqueror HTML */
            -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
        }
        #google_translate_element {
            background-color:rgba(194,77,44,1);
            color: #C24D2C;
            border: none; left: 0;
            bottom: 0;
            padding: 10px
        }
    </style>
</head>


<body onload = "onload();">
<div class="container-fluid">
    <%if (isUser == undefined) { %>
        <nav class="navbar nav" style = "padding-left: 0px">
            <ul class="navbar-nav">
                <div >
                    <span  class = 'logo_text' style="color:rgba(194,77,44,1);">My</span>
                    <span  class = 'logo_text' id = "logo-e">E</span>
                    <span  class = 'logo_text' style="color:rgba(194,77,44,1);">Portfolio</span>
                </div>
            </ul>
            <div class = "topnav-right">
                <div class ="row">
                    <ul class="navbar-nav nav-btn">
                        <form action="/visitor-mainpage" method="get">
                            <button class = "btn" id="right-panel">Homepage</button>
                        </form>
                    </ul>
                    <ul class="navbar-nav nav-btn">
                        <form action="/login" method="get">
                            <button class = "btn" id="right-panel">Login</button>
                        </form>
                    </ul>
                </div>
            </div>
        </nav>
    <% } else { %>
        <nav class="navbar nav" style = "padding-left: 0px">
            <ul class="navbar-nav">
                <div>
                    <span  class = 'logo_text' style="color:rgba(194,77,44,1);">My</span>
                    <span  class = 'logo_text' id = "logo-e">E</span>
                    <span  class = 'logo_text' style="color:rgba(194,77,44,1);">Portfolio</span>
                </div>
        </ul>
        <div class = "topnav-right">
            <div class ="row">
                <ul class="navbar-nav nav-btn">
                    <form action="/file/main" method="get">
                        <button class = "btn" id="right-panel">Cloud</button>
                    </form>
                </ul>
                <ul class="navbar-nav nav-btn">
                    <form action="/api/logout" method="get">
                        <button class = "btn" id="right-panel">Logout</button>
                    </form>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Redirect to edit page -->
    <div class="btn-group">
        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
            Edit Project  <span class="caret"></span></button>
        <ul class="dropdown-menu" role="menu">
            <li>
                <button type="button" class="dropdown-item" data-toggle="modal" data-target="#changeTheme">
                    Theme
                </button>
            </li>
            <li>
                <form action= "/user-eportfolio/user-project/edit-project/<%=projectId%>" method="get">
                    <button class = "dropdown-item" >Text</button>
                </form>
            </li>
            <li>
                <button class="dropdown-item" type="button" onclick="edit(this)">File</button>
            </li>
        </ul>
    </div>
    <% } %>
        <div class="modal fade" id="changeTheme" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Change Theme</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="/user-eportfolio/user-project/editTheme/<%=projectId%>" class="theme" method="POST">
                            <input type="radio" id="theme" class="btn btn-secondary" name="theme" value=1>System default</input>
                            <br>
                            <input type="radio" id="theme" class="btn btn-secondary" name="theme" value=2>Warm</input>
                            <br>
                            <input type="radio" id="theme" class="btn btn-secondary" name="theme" value=3>Calm</input>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    <div class="container-fluid">
    </div>
        <!-- textboxs -->
        <div class = "project-body" >
            <% if (user) { %>

                <% for(var j=0; j<user.project.length;j++){ %>
                    <% if(user.project[j]._id==projectId){ %>
                        <% for(var i=0; i<user.project[j].textboxs.length; i++){ %>
                            <div class="textbox" style = "top:<%= user.project[j].textboxs[i].top%>;
                                    left:<%= user.project[j].textboxs[i].left%>;
                                    height:<%= user.project[j].textboxs[i].height%>;
                                    width:<%= user.project[j].textboxs[i].width%>;
                                    position:absolute;
                                    background: <%= user.project[j].textboxs[i].background%>">
                                <%=user.project[j].textboxs[i].text%>
                            </div>
                        <% } %>
                    <% } %>
                <% } %>
            <% } %>
        </div>
    <div id="myModal" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" style="rgba(26,38,57,1)">Add File to Project</h5>
                <span class="close">x</span>
            </div>
            <div class="modal-body">
                <table class="table " style = "background-color: rgba(26,38,57,1); color: lightgoldenrodyellow">
                    <thead>
                    <tr>
                        <th scope="col">Current File ID</th>
                        <th scope="col">Current File Name</th>
                        <th scope="col">Current File type</th>
                        <th scope="col">Current Handle</th>
                    </tr>
                    </thead>
                    <tbody >
                    <% if (user) {%>
                        <% for(var j=0; j<user.project.length;j++){%>
                            <% if(user.project[j]._id==projectId){ %>
                                <% for(var i=0; i<user.project[j].fileInfo.length; i++){ %>
                                <tr>
                                    <th scope="row"><%=user.project[j].fileInfo[i].fileId%></th>
                                    <td><%=user.project[j].fileInfo[i].fileName%></td>
                                    <td><%=user.project[j].fileInfo[i].fileType%></td>
                                    <td>
                                        <form action="/user-eportfolio/deleteProjectFile" method="post" >
                                            <button class="btn btn-colordelete">Delete</button>
                                            <input type="text" name="fileName" value="<%=user.project[j].fileInfo[i].fileName%>" style="visibility: hidden">
                                            <input type="text" name="projectId" value="<%=projectId%>" style="visibility: hidden">
                                        </form>
                                    </td>
                                </tr>
                                <% } %>
                            <% } %>
                        <% } %>
                    <% } %>
                    </tbody>
                </table>
                <h5 style = "padding-top: 20px">Select from uploaded files</h5>
                <form action="/user-eportfolio/addFiletoProject" method="post" >
                    <% if (user) {%>
                        <% for(var i=0; i < user.fileInfo.length; i++){ %>
                        <input type="radio" name="fileId" value="<%=user.fileInfo[i].fileName%>">
                        <label><%=user.fileInfo[i].fileName%></label><br>
                        <% } %>
                    <% } %>
                    <input type="text" name="projectId" value="<%=projectId%>" style="display: none"></br>
                    <button type="submit" class="btn btn-colordelete">Add To This Project</button>
                </form>
            </div>
            <div class="modal-footer">
                <% if (user) {%>
                    <% for(var j=0; j<user.project.length;j++){%>
                        <% if(user.project[j]._id==projectId){ %>
                            <% for(var i=0; i<user.project[j].fileInfo.length; i++){ %>
                            <form action="/user-eportfolio/savePosition" method="post">

                                <input type="text" id="<%=user.project[j].fileInfo[i].fileName%>" name="position" value="" placeholder="<%=user.project[j].fileInfo[i].fileName%>" style = "margin-right: 5px;  margin-top:5px; margin-height: 35px; visibility: hidden">
                                <input type="text" name="fileName" value="<%=user.project[j].fileInfo[i].fileName%>" style = "margin-right: 5px;  margin-top:5px; margin-height: 35px;" disabled>
                                <button type="submit" class="btn btn-deleteComment" style = "color: lightgoldenrodyellow">Save Position</button></br>
                                <input type="text" name="project" value="<%=projectId%>" style = "margin-right: 10px;  margin-top:5px; margin-height: 35px; visibility: hidden">
                                
                            </form>
                            <% } %>
                        <% } %>
                    <% } %>
                <% } %>
            </div>
        </div>
    </div>
    <div style="width: 100vw">
        <% if (user) { %>
            <% for(var j=0; j<user.project.length;j++){%>
                <% if(user.project[j]._id==projectId){ %>
                    <div id="container">
                        <% for (var i = 0; i < user.project[j].fileInfo.length; i++) { %>
                        <div class="item" style="<%=user.project[j].fileInfo[i].fileStyle%>">
                            <% if(user.project[j].fileInfo[i].fileType=="image/jpeg"){%>
                                <img class="item card-img-top" name="<%= user.project[j].fileInfo[i].fileName%>"
                                     src="/file/main/image/<%= user.project[j].fileInfo[i].fileName%>" alt="<%=user.project[j].fileInfo[i]._id%>"
                                     style="width: 400px; height: auto"
                                >
                            <% }else if(user.project[j].fileInfo[i].fileType=="application/pdf"){ %>
                                <a href="/file/main/image/<%= user.project[j].fileInfo[i].fileName%>" class="item"
                                   style="<%=user.project[j].fileInfo[i].fileStyle%>"><%=user.project[j].fileInfo[i].fileName%></a>
                            <% }else if(user.project[j].fileInfo[i].fileType=="video/mp4"){ %>
                            <video class="item" width="320" height="240" style="<%=user.project[j].fileInfo[i].fileStyle%>" controls>
                                <source src="/file/main/image/<%= user.project[j].fileInfo[i].fileName%>" type="video/mp4">
                            </video>
                            <% } %>
                        </div>
                        <% } %>
                    </div>
                <% } %>
            <% } %>
        <% } else { %>
            <p> No Files to show</p>
        <% } %>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="commentForm" tabindex="-1" role="dialog" aria-labelledby="commentFormLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Leave your comments here!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/user-eportfolio/user-project/addComment/<%=projectId%>" class="contact-form" method="POST" >
                    <div>
                        <label for="visitor" class="col-form-label">Visitor Name</label>
                        <input type="text" id="visitor" name="visitorName" placeholder="Type in your name" class="form-control" required />
                    </div>
                    <div>
                        <label for="entercomment" class="col-form-label" >Comments</label>
                        <textarea id="entercomment" name="comment" class="form-control" placeholder="Leave a message" required></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-secondary">Send</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid"  id="comment">
    <h2 id="comment-colour">Comments</h2>
    <button type="button" id="comment" class="btn comment-button" data-toggle="modal"data-target="#commentForm" style="margin-bottom: 10px;">
        Add Your Comment
    </button>
    <!-- Button trigger modal -->
    <div style = "margin-bottom: 100px;">
    <% if (user) { %>
        <% for(var j=0; j<user.project.length;j++){%>
            <% if(user.project[j]._id==projectId){ %>
                    <% user.project[j].comments.forEach( function (comment) { %>
                        <div id="comment_text" class="card" style = "padding-top: 15px; padding-bottom: 15px">
                            <div class="row ml-1">
                                <div>
                                    <h4 style = "padding: 0px;"><%= comment.visitorName%> : <%= comment.comment%></h4>
                                </div>
                                <%if (isUser == undefined) { %>

                                <% } else { %>
                                <div class="ml-auto mr-3">
                                    <form  method="POST" action="/user-eportfolio/user-project/<%=projectId%>/deleteComment/<%= comment._id%>">
                                        <button class="btn comment-button" id = "comment">Delete</button>
                                    </form>
                                </div>
                                <% } %>
                            </div>
                        </div>

                    <% })%>
            <% } %>
        <% } %>
    <% } else { %>
        <p> No Comments to show </p>
    <% } %>
    </div>

    <div class="footer" style = "margin-top: 300px">
        <div id="google_translate_element" ></div>
        <script type="text/javascript">
            function googleTranslateElementInit() {
                new google
                    .translate
                    .TranslateElement({
                            pageLanguage: 'en',
                            includedLanguages: 'en,fr,es,ko,ja,hi,id,zh-CN'
                        },
                        'google_translate_element');
            }
        </script>

        <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

        <p style = "position: fixed; bottom: 0; width:100%; text-align: center; font-size: 80%;">Copyright © 2020 · My E-Portfolio Unimelb</p>
    </div>
</div>
<br/>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

<script>
    var container = document.querySelector("#container");
    var activeItem = null;
    var active = false;
    container.addEventListener("touchstart", dragStart, false);
    container.addEventListener("touchend", dragEnd, false);
    container.addEventListener("touchmove", drag, false);
    container.addEventListener("mousedown", dragStart, false);
    container.addEventListener("mouseup", dragEnd, false);
    container.addEventListener("mousemove", drag, false);
    function dragStart(e) {
        if (e.target !== e.currentTarget) {
            active = true;
            // this is the item we are interacting with
            activeItem = e.target;
            if (activeItem !== null) {
                if (!activeItem.xOffset) {
                    activeItem.xOffset = 0;
                }
                if (!activeItem.yOffset) {
                    activeItem.yOffset = 0;
                }
                if (e.type === "touchstart") {
                    activeItem.initialX = e.touches[0].clientX - activeItem.xOffset;
                    activeItem.initialY = e.touches[0].clientY - activeItem.yOffset;
                } else {
                    console.log("doing something!");
                    activeItem.initialX = e.clientX - activeItem.xOffset;
                    activeItem.initialY = e.clientY - activeItem.yOffset;
                }
            }
        }
    }
    function dragEnd(e) {
        if (activeItem !== null) {
            activeItem.initialX = activeItem.currentX;
            activeItem.initialY = activeItem.currentY;
        }
        var rect = activeItem.getBoundingClientRect();
        var left = rect.left + window.scrollX;
        var top = rect.top + window.scrollY;
        document.getElementById(activeItem.name).setAttribute("value","Position: absolute; left: "+rect.left+"px; top: "+rect.top+"px;")

        console.log("left:"+left+" top: "+top+" width: "+rect.width+" height: "+rect.height)
        console.log("transform: translate3d("+activeItem.currentX.toString()+"px, "+activeItem.currentY.toString()+"px, 0px)")
        console.log("line 181"+activeItem.name)
        active = false;
        activeItem = null;
        console.log("line 111 drag end")
    }
    function drag(e) {
        if (active) {
            e.preventDefault();
            if (e.type === "touchmove") {
                activeItem.currentX = e.touches[0].clientX - activeItem.initialX;
                activeItem.currentY = e.touches[0].clientY - activeItem.initialY;
            } else {
                activeItem.currentX = e.clientX - activeItem.initialX;
                activeItem.currentY = e.clientY - activeItem.initialY;
            }
            activeItem.xOffset = activeItem.currentX;
            activeItem.yOffset = activeItem.currentY;
            setTranslate(activeItem.currentX, activeItem.currentY, activeItem);
        }
    }
    function setTranslate(xPos, yPos, el) {
        el.style.transform = "translate3d(" + xPos + "px, " + yPos + "px, 0)";
    }
    function edit(value){
        modal.style.display= "block";
    }
    var modal = document.getElementById("myModal");
    var span = document.getElementsByClassName("close")[0];
    span.onclick = function (){
        modal.style.display= "none";
    }
</script>


</body>
<script>
    function onload(){
        str_to_html();
    }
    function str_to_html(){
        //turn html string to actual html
        var textbox = document.getElementsByClassName("textbox");
        var i;
        for (i = 0; i < textbox.length; i++) {
            console.log(textbox[i].innerText);
            textbox[i].innerHTML = textbox[i].innerText;
        }
    }
</script>

</html>