<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script href="/js/bootstrap.js"></script>
    <title>user-project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <% if (user) {%>
        <% for(var j=0; j<user.project.length;j++){%>
            <% if(user.project[j]._id==projectId){ %>
                <% if(user.project[j].projectTheme == 3){ %>
                    <link rel= "stylesheet" id="main" type="text/css"href="/css/user-project-forest.css">
                <% } %>
                <% if(user.project[j].projectTheme == 2){ %>
                    <link rel= "stylesheet" id="main" type="text/css"href="/css/user-project-sc.css">
                <% } %>
                <% if(user.project[j].projectTheme == 1){ %>
                    <link rel= "stylesheet" id="main" type="text/css"href="/css/user-project-default.css">
                <% } %>
            <% } %>
        <% } %>
    <% } %>
    <style>

        .nav-btn {
            margin-left: 30px;
        }
        /* Right-aligned section inside the top navigation */
        .topnav-right {
            float: right;
        }

        #right-panel {
            background-color:transparent;
            width: 150px;
            font-size: 160%;
            font-weight: normal;
            border:none;
            text-align: right;
        }

        .logo_text {
            font-size: 250%;
            margin-left: unset;
        }

        .item:active {
            opacity: .75;
        }

        .item:hover {
            cursor: pointer;
        }
        body {
            background:rgba(26,38,57,1);
            min-height: 100vh;
        }

        hr {
            color: #ffffff;
            position: absolute;
        }

        html, body {
            height: 100%;
        }

        .project-body {
            height: 100%;
        }

        /*Draggable div*/

        .popup {
            z-index: 9;
            background: transparent;
            border: 1px solid #d3d3d3;
            text-align: center;
            min-height: 150px;
            min-width: 300px;
        }

        .popup {
            position: absolute;
            /*resize: both; !*enable this to css resize*! */
            overflow: auto;
            background: rgba(0, 0, 0, 0);
        }

        .popup-header {
            padding: 10px;
            cursor: move;
            z-index: 10;
            color: #fff;
        }

        /*Resizeable*/

        .popup .resizer-right {
            width: 5px;
            height: 100%;
            background: transparent;
            position: absolute;
            right: 0;
            bottom: 0;
            cursor: e-resize;
        }

        .popup .resizer-bottom {
            width: 100%;
            height: 5px;
            background: transparent;
            position: absolute;
            right: 0;
            bottom: 0;
            cursor: n-resize;
        }

        .popup .resizer-both {
            width: 5px;
            height: 5px;
            background: transparent;
            z-index: 10;
            position: absolute;
            right: 0;
            bottom: 0;
            cursor: nw-resize;
        }

        /*NOSELECT*/

        .popup * {
            -webkit-touch-callout: none; /* iOS Safari */
            -webkit-user-select: none; /* Safari */
            -khtml-user-select: none; /* Konqueror HTML */
            -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
        }
        .textColor{
            color: lightgoldenrodyellow;
        }

    </style>
</head>
<body>
<div class="container-fluid">
<nav class="navbar nav" style = "padding-left: 0px">
    <ul class="navbar-nav">
        <div>
            <span  class = 'logo_text' style="color:rgba(194,77,44,1);">My</span>
            <span  class = 'logo_text' id = "logo-e">E</span>
            <span  class = 'logo_text' style="color:rgba(194,77,44,1);">Portfolio</span>
        </div>
    </ul>
    <div class = "topnav-right">
        <div class ="row">
            <ul class="navbar-nav nav-btn">
                <form action="/user-eportfolio/userProject/<%=projectId%>">
                    <button class = "btn" id="right-panel">Back</button>
                </form>
            </ul>
            <ul class="navbar-nav nav-btn">
                <form action="/file/main" method="get">
                    <button class = "btn" id="right-panel">Cloud</button>
                </form>
            </ul>
            <ul class="navbar-nav nav-btn">
                <form action="/api/logout" method="get">
                    <button class = "btn" id="right-panel">Logout</button>
                </form>
            </ul>
        </div>
    </div>
</nav>

<div class="textColor">
    <button onclick="execCmd('bold');"><i class="fa fa-bold"></i></button>
    <button onclick="execCmd('italic');"><i class="fa fa-italic"></i></button>
    <button onclick="execCmd('underline');"><i class="fa fa-underline"></i></button>
    <button onclick="execCmd('strikeThrough');"><i class="fa fa-strikethrough"></i></button>
    <button onclick="execCmd('justifyLeft');"><i class="fa fa-align-left"></i></button>
    <button onclick="execCmd('justifyCenter');"><i class="fa fa-align-center"></i></button>
    <button onclick="execCmd('justifyRight');"><i class="fa fa-align-right"></i></button>
    <button onclick="execCmd('justifyFull');"><i class="fa fa-align-justify"></i></button>
    <button onclick="execCmd('undo');"><i class="fa fa-undo"></i></button>
    <button onclick="execCmd('redo');"><i class="fa fa-repeat"></i></button>
    <button onclick="execCmd('insertUnorderedList');"><i class="fa fa-list-ul"></i></button>
    <button onclick="execCmd('insertOrderedList');"><i class="fa fa-list-ol"></i></button>
    <select onchange="execCommandWithArg('formatBlock', this.value);">
        <option value="H1">H1</option>
        <option value="H2">H2</option>
        <option value="H3">H3</option>
        <option value="H4">H4</option>
        <option value="H5">H5</option>
        <option value="H6">H6</option>
    </select>
    <button onclick="execCommandWithArg('createLink', prompt('Enter a URL', 'http://'));"><i class="fa fa-link"></i></button>
    <button onclick="execCmd('unlink');"><i class="fa fa-unlink"></i></button>
    <br />
    <select onchange="execCommandWithArg('fontName', this.value);">
        <option value="Arial">Arial</option>
        <option value="Comic Sans MS">Comic Sans MS</option>
        <option value="Courier">Courier</option>
        <option value="Georgia">Georgia</option>
        <option value="Tahoma">Tahoma</option>
        <option value="Times New Roman">Times New Roman</option>
        <option value="Verdana">Verdana</option>
    </select>
    <select onchange="execCommandWithArg('fontSize', this.value);">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
    </select>
    Text Color: <input type="color" onchange="execCommandWithArg('foreColor', this.value);">
    Text Background: <input type="color"  onchange="execCommandWithArg('hiliteColor', this.value);">
    Textbox Background: <input type="color"  onchange="change_tb_background(this.value);">
    Border: <input type="color"  onchange="change_border_color(this.value);">
</div>

<!-- Draggable DIV -->
<div class="popup" id = "popup">
    <div class="popup-header noselect " id = "logo-e">Click here to move</div>

    <form action="/user-eportfolio/user-project/edit-project/<%=projectId%>" class="text-form" method="POST" target="_blank" onsubmit="return saveEdit(this);">

        <div onload="enableEditMode();" class = "undone_textbox" style = "display: block">
            <iframe name="richTextField" style="background-color: transparent; width: 300px; height: 150px;"></iframe>
        <div class="modal-footer">
            <button onclick="toggleEdit();" type = "button">Toggle Edit</button>
            <button type="submit" class="btn btn-secondary">Save</button>
        </div>
        </div>
    </form>
</div>

<!-- textboxs -->
<div class = "project-body" >
        <% if (user) {%>
            <% for(var j=0; j<user.project.length;j++){%>
                <% if(user.project[j]._id==projectId){ %>
                    <% for(var i=0; i<user.project[j].textboxs.length; i++){ %>
                        <div class = "textbox-container"
                             style = "top:<%= user.project[j].textboxs[i].top%>;
                                     left:<%= user.project[j].textboxs[i].left%>; position: absolute">
                            <div class="textbox" style = "
                                    background: <%= user.project[j].textboxs[i].background%>;
                                    height:<%= user.project[j].textboxs[i].height%>;
                                    border:<%= user.project[j].textboxs[i].border%>;
                                    width:<%= user.project[j].textboxs[i].width%>;">
                                <%=user.project[j].textboxs[i].text%>
                            </div>
                            <form method="POST" action="/user-eportfolio/user-project/edit-project/<%=projectId%>/delete-tb/<%=user.project[j].textboxs[i]._id%>" style = "background-color:whitesmoke; width:70px; position:static">
                                <button class="btn">Delete</button>
                            </form>
                        </div>
                    <% } %>
                <% } %>
            <% } %>
        <% } %>
        <div style="width: 100vw">
            <% if (user) { %>
                <% for(var j=0; j<user.project.length;j++){%>
                    <% if(user.project[j]._id==projectId){ %>
                        <div id="container">
                            <% for (var i = 0; i < user.project[j].fileInfo.length; i++) { %>
                            <div class="item" style="<%=user.project[j].fileInfo[i].fileStyle%>">
                                <% if(user.project[j].fileInfo[i].fileType=="image/jpeg"){%>
                                    <% //var imgStyle = "width: 400px;".concat(user.project[j].fileInfo[i].fileStyle) %>
                                    <img class="item card-img-top" name="<%= user.project[j].fileInfo[i].fileName%>"
                                         src="/file/main/image/<%= user.project[j].fileInfo[i].fileName%>" alt="<%=user.project[j].fileInfo[i]._id%>"
                                         style= "width: 400px; height: auto"
                                    >
                                <% }else if(user.project[j].fileInfo[i].fileType=="application/pdf"){ %>
                                    <a href="/file/main/image/<%= user.project[j].fileInfo[i].fileName%>" class="item"
                                       style="<%=user.project[j].fileInfo[i].fileStyle%>"><%=user.project[j].fileInfo[i].fileName%></a>
                                <% }else if(user.project[j].fileInfo[i].fileType=="video/mp4"){ %>
                                <video class="item" width="320" height="240" style="<%=user.project[j].fileInfo[i].fileStyle%>" controls>
                                    <source src="/file/main/image/<%= user.project[j].fileInfo[i].fileName%>" type="video/mp4">
                                </video>
                                <% } %>
                            </div>
                            <% } %>
                        </div>
                    <% } %>
                <% } %>
            <% } else { %>
                <p> No Files to show</p>
            <% } %>
        </div>
</div>

<script>
    function saveEdit (form) {
        textbox = document.getElementsByName("richTextField")[0];
        textbox_cont = document.getElementById("popup");
        var top_tb = parseInt((textbox_cont.style.top).slice(0,-2));

        var top_px = top_tb + 43 + 'px';
        value = richTextField.document.getElementsByTagName('body')[0].innerHTML;
        $.ajax({
            url:"/user-eportfolio/user-project/edit-project/<%=projectId%>",
            method:"POST",
            //save position and text value to mongodb
            data: {top: top_px,
                left: textbox_cont.style.left,
                width: textbox.style.width,
                height: textbox.style.height,
                background: textbox.style.backgroundColor,
                border: textbox_cont.style.border,
                text: value},
            success: function(res){
                location.reload();
            }
        });
        return false;
    }
</script>

<script>
    //draggable div script
    window.onload = function() {
        initDragElement();
        initResizeElement();
    };

    function initDragElement() {
        var pos1 = 0,
            pos2 = 0,
            pos3 = 0,
            pos4 = 0;
        var popups = document.getElementsByClassName("popup");
        var elmnt = null;
        var currentZIndex = 100;

        for (var i = 0; i < popups.length; i++) {
            var popup = popups[i];
            var header = getHeader(popup);

            popup.onmousedown = function() {
                this.style.zIndex = "" + ++currentZIndex;
            };

            if (header) {
                header.parentPopup = popup;
                header.onmousedown = dragMouseDown;
            }
        }

        function dragMouseDown(e) {
            elmnt = this.parentPopup;
            elmnt.style.zIndex = "" + ++currentZIndex;

            e = e || window.event;
            // get the mouse cursor position at startup:
            pos3 = e.clientX;
            pos4 = e.clientY;
            document.onmouseup = closeDragElement;
            // call a function whenever the cursor moves:
            document.onmousemove = elementDrag;
        }

        function elementDrag(e) {
            if (!elmnt) {
                return;
            }

            e = e || window.event;
            // calculate the new cursor position:
            pos1 = pos3 - e.clientX;
            pos2 = pos4 - e.clientY;
            pos3 = e.clientX;
            pos4 = e.clientY;
            // set the element's new position:
            elmnt.style.top = elmnt.offsetTop - pos2 + "px";
            elmnt.style.left = elmnt.offsetLeft - pos1 + "px";
        }

        function closeDragElement() {
            /* stop moving when mouse button is released:*/
            document.onmouseup = null;
            document.onmousemove = null;
        }

        function getHeader(element) {
            var headerItems = element.getElementsByClassName("popup-header");

            if (headerItems.length === 1) {
                return headerItems[0];
            }

            return null;
        }
    }

    function initResizeElement() {
        var popups = document.getElementsByClassName("popup");
        var element = null;
        var startX, startY, startWidth, startHeight;

        for (var i = 0; i < popups.length; i++) {
            var p = popups[i];

            var right = document.createElement("div");
            right.className = "resizer-right";
            p.appendChild(right);
            right.addEventListener("mousedown", initDrag, false);
            right.parentPopup = p;

            var bottom = document.createElement("div");
            bottom.className = "resizer-bottom";
            p.appendChild(bottom);
            bottom.addEventListener("mousedown", initDrag, false);
            bottom.parentPopup = p;

            var both = document.createElement("div");
            both.className = "resizer-both";
            p.appendChild(both);
            both.addEventListener("mousedown", initDrag, false);
            both.parentPopup = p;
        }

        function initDrag(e) {
            element = this.parentPopup;

            startX = e.clientX;
            startY = e.clientY;
            startWidth = parseInt(
                document.defaultView.getComputedStyle(element).width,
                10
            );
            startHeight = parseInt(
                document.defaultView.getComputedStyle(element).height,
                10
            );
            document.documentElement.addEventListener("mousemove", doDrag, false);
            document.documentElement.addEventListener("mouseup", stopDrag, false);
        }

        function doDrag(e) {
            //change the width and height of the outer div and the inner textarea
            var ogEleWidth = parseInt((element.style.width).slice(0,-2));
            var ogEleHeight = parseInt((element.style.height).slice(0,-2));
            element.style.width = startWidth + e.clientX - startX + "px";
            element.style.height = startHeight + e.clientY - startY + "px";
            textarea = document.getElementsByName("richTextField")[0];
            var textAreaWidth = parseInt((textarea.style.width).slice(0,-2));
            var textAreaHeight = parseInt((textarea.style.height).slice(0,-2));
            var newEleWidth = parseInt((element.style.width).slice(0,-2));
            var newEleHeight = parseInt((element.style.height).slice(0,-2));
            textarea.style.width = textAreaWidth + newEleWidth - ogEleWidth + "px";
            textarea.style.height = textAreaHeight + newEleHeight - ogEleHeight + "px";
        }

        function stopDrag() {
            document.documentElement.removeEventListener("mousemove", doDrag, false);
            document.documentElement.removeEventListener("mouseup", stopDrag, false);
        }
    }

</script>

<script src="https://use.fontawesome.com/aac5c45839.js"></script>

<script type="text/javascript">

    var showingSourceCode = false;
    var isInEditMode = true;

    function enableEditMode () {
        richTextField.document.designMode = 'On';
    }

    function execCmd (command) {
        richTextField.document.execCommand(command, false, null);
    }

    function execCommandWithArg (command, arg) {
        richTextField.document.execCommand(command, false, arg);
    }

    function toggleEdit () {
            if(!isInEditMode){
                richTextField.document.designMode = 'On';
                isInEditMode = true;
            }else{
                richTextField.document.designMode = 'Off';
                isInEditMode = false;
            }
    }
</script>

<script>
    function change_tb_background(color){
        document.getElementsByName("richTextField")[0].style.backgroundColor = color;
    }

    //to be modified
    function change_border_color(color){
        var border = "3px solid".concat(color);
        document.getElementsByClassName("popup")[0].style.border = border;
    }
</script>

<script>
        //turn html string to actual html
        var textbox = document.getElementsByClassName("textbox");
        console.log("html");
        var i;
        for (i = 0; i < textbox.length; i++) {
            console.log(textbox[i].innerText);
            textbox[i].innerHTML = textbox[i].innerText;
        }
</script>
</div>
</body>
</html>
