<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title><%=user.userName%>'s eportfolio</title>
    <style>
        body {
            background:rgba(26,38,57,1);
        }
        .nav-btn {
            margin-left: 30px;
        }
        /* Right-aligned section inside the top navigation */
        .topnav-right {
            float: right;
        }
        #right-panel {
            background-color:transparent;
            color:rgba(194,77,44,1);
            width: 150px;
            font-size: 160%;
            font-weight: normal;
            border:none;
            text-align: right;
        }
        #right-panel:hover{
            color: rgba(246,225,184,1);
        }
        .logo_text {
            font-size: 250%;
            margin-left: unset;
        }
        .profile-margin {
            margin-left: 30px;
        }
        .circle-img {
            width: 120px;
            height: 120px;
            border-style: solid;
            border-color: lightgoldenrodyellow;
        }
        .btn-viewproject {
            background-color: lightgoldenrodyellow;
        }
        .editprofile {
            margin: 10px;
        }
        .nav {
            background-color:rgba(26,38,57,1);
            padding-left: unset;
        }
        .profile-text {
            margin-right:20px;
        }
        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 60px;
            background-color: rgba(194,77,44,1);
            color: rgba(26,38,57,1);
        }
        #google_translate_element {
            background-color:rgba(194,77,44,1);
            color: #C24D2C;
            border: none; left: 0;
            bottom: 0;
            padding: 10px
        }
    </style>
    <style>
    </style>

</head>

<body>


<div class = "container-fluid">
    <%if (isUser == undefined) { %>
        <nav class="navbar nav">
            <ul class="navbar-nav">
                <div >
                    <span  class = 'logo_text' style="color:rgba(194,77,44,1);">My</span>
                    <span  class = 'logo_text' style="color:rgba(246,225,184,1);">E</span>
                    <span  class = 'logo_text' style="color:rgba(194,77,44,1);">Portfolio</span>
                </div>
            </ul>
            <div class = "topnav-right">
                <div class ="row">
                    <ul class="navbar-nav nav-btn">
                        <form action="/visitor-mainpage" method="get">
                            <button class = "btn" id="right-panel">Homepage</button>
                        </form>
                    </ul>
                    <ul class="navbar-nav nav-btn">
                        <form action="/language" method="get">
                            <button class = "btn" id="right-panel">Setting</button>
                        </form>
                    </ul>
                    <ul class="navbar-nav nav-btn">
                        <form action="/login" method="get">
                            <button class = "btn" id="right-panel">Login</button>
                        </form>
                    </ul>
                </div>
            </div>
        </nav>
    <% } else { %>
            <nav class="navbar nav">
                <ul class="navbar-nav">
                    <div >
                        <span  class = 'logo_text' style="color:rgba(194,77,44,1);">My</span>
                        <span  class = 'logo_text' style="color:rgba(246,225,184,1);">E</span>
                        <span  class = 'logo_text' style="color:rgba(194,77,44,1);">Portfolio</span>
                    </div>
                </ul>
                <div class = "topnav-right">
                    <div class ="row">
                        <ul class="navbar-nav nav-btn">
                            <form action="/file/main" method="get">
                                <button class = "btn" id="right-panel">Cloud</button>
                            </form>
                        </ul>
                        <ul class="navbar-nav nav-btn">
                            <form action="/language" method="get">
                                <button class = "btn" id="right-panel">Setting</button>
                            </form>
                        </ul>
                        <ul class="navbar-nav nav-btn">
                            <form action="/api/logout" method="get">
                                <button class = "btn" id="right-panel">Logout</button>
                            </form>
                        </ul>
                    </div>
                </div>
            </nav>
    <% } %>
    <div class="row mt-3" style="border-bottom: 2px solid; border-bottom-color: lightgoldenrodyellow; padding-bottom: 40px">
        <div class="col-lg-1">
            <%if(user.iconImage){%>
                <img class="circle-img rounded-circle" src="/file/main/image/<%=user.iconImage%>" alt="user.iconImage">
            <%}else{%>
                <img class="circle-img rounded-circle" src="https://www.pig333.com/3tres3_common/usuaris/107241.jpg?t=20180704031757" alt="piggy">
            <%}%>
        </div>
        <div class="col-lg-9 profile-margin">
            <div class = "row ml-1">
                <h3 style="color:rgba(246,225,184,1);"value="<%= user.userName %>" id = "user_name" >Hi, I am <%=user.userName%></h3>
            </div>

            <div class = "row ml-1">
                <p class = "profile-text" style="color:rgba(246,225,184,1);"value="<%= user %>" id = user_email>Email: <%=user.email%></p>
                <p class = "profile-text" style="color:rgba(246,225,184,1);"value="<%= user.expertise %>" id = user_expertise>Expertise: <%=user.expertise%></p>
            </div>
            <button type="button" class="btn  btn-viewproject" id="emailButton" data-toggle="modal" data-target="#queryForm" value="<%= user.userName %>">
                Contact <%=user.userName%>
            </button>


            <%if (isUser == undefined) { %>

            <% } else { %>
                <button type="button" class="btn  btn-viewproject" id="emailButton" data-toggle="modal" data-target="#editProfile">
                    Edit Profile
                </button>
                <a class = "btn  btn-viewproject" href="https://www.linkedin.com/sharing/share-offsite/?url=https://itproject-comp30022.herokuapp.com/user-eportfoliopage/<%= user._id %>"target="_blank" title="Share on LinkedIn">
                    Share on LinkedIn
                </a>

            <% } %>

        </div>
    </div>

    <!-- Modal for contact form -->
    <div class="modal fade" id="queryForm" tabindex="-1" role="dialog" aria-labelledby="queryFormLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Contact Me!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="contact-form" action="/ajax/email" method="POST" onsubmit="return submitEmailForm(this);">
                        <div>
                            <label for="sendername" class="col-form-label">Name</label>
                            <input type="text" id="sendername" name="name" class="form-control" placeholder="Name" required />
                        </div>
                        <div>
                            <label for="senderemail" class="col-form-label">Email</label>
                            <input type="email" id="senderemail" name="email" class="form-control" placeholder="Email" required />
                        </div>
                        <div>
                            <label for="emailcontent" class="col-form-label">Message</label>
                            <textarea name="message" id="emailcontent" class="form-control" placeholder="Message" required></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-secondary">Send</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal for edit profile-->
    <div class="modal fade" id="editProfile" tabindex="-1" role="dialog" aria-labelledby="queryFormLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit My Profile</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form onsubmit = "successfulalert()" action= "/user-eportfolio/?_method=PUT" method= "POST">
                        <div>
                            <p class="editprofile" value="<%= user.iconImage %>" id = "user_name" >Icon: <%=user.iconImage%></p>
                                <% if (user) {%>
                                    <% for(var i=0; i < user.fileInfo.length; i++){ %>
                                        <%if(user.fileInfo[i].fileType=="image/jpeg"){%>
                                            <input class="editprofile" type="radio" name="iconImage" value="<%=user.fileInfo[i].fileName%>">
                                            <label><%=user.fileInfo[i].fileName%></label><br>
                                        <%}%>
                                    <% } %>
                                <% } %>
                        </div>
                        <div>
                            <p class="editprofile" value="<%= user.userName %>" id = "user_name" >Username: <%=user.userName%></p>
                            <input  class="editprofile" type="text" id="username" name="username" minlength="5" placeholder="Enter new username" style="display:none;"><br>
                        </div>
                        <div>
                            <p class="editprofile" value="<%= user.email %>" id = user_email>Email: <%=user.email%></p>
                            <input  class="editprofile" type="email" id="useremail" name="useremail" placeholder="Enter new email" style="display:none;"><br>
                        </div>
                        <div>
                            <p class="editprofile" value="<%= user.expertise %>" id = user_expertise>Expertise: <%=user.expertise%></p>
                            <input  class="editprofile" type="expertise" id="userexpertise" name="userexpertise" placeholder="Enter new expertise" style="display:none;"><br>
                        </div>
                        <button class ="btn mt-4 btn-viewproject" type = "button" onclick="toggle_visibility()" id = edit_button>Edit</button>
                        <button class ="btn mt-4 btn-viewproject" type= "submit" style="display:none;" id = "submit_button"> Submit </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
        <%if (isUser == undefined) { %>
        <% } else { %>
            <div class="projectBody">
                <% if(user){ %>
                    <% for(var i=0; i<user.project.length;i++){%>
                        <div class="card-columns mt-5">
                            <div class="card">
                                <h5 class="card-text editprofile"><%= user.project[i].projectName%></h5>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">Project Desciption : <%= user.project[i].projectDesc%></li>
                                    <li class="list-group-item">Author : <%= user.userName%></li>
                                </ul>
                                <ul class="list-group list-group-horizontal">
                                    <li class="list-group-item" style="border-style: none">
                                        <form class="projectForm" method="get" action="/user-eportfolio/<%=user.project[i]._id%>/deleteProject">
                                            <button class="btn btn-primary" >DeleteProj</button>
                                        </form>
                                    </li>
                                    <li class="list-group-item" style="border-style: none">
                                        <form class="projectForm" action="/user-eportfolio/userProject/<%=user.project[i]._id%>" method="get">
                                            <button class = "btn btn-primary" >
                                                ViewProject
                                            </button>
                                        </form>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    <%}%>
                <%}%>
            </div>
        <% } %>

        <div class="projectForm" style="padding-bottom: 100px; margin-top: 40px">
            <form class="form-group col" action="/user-eportfolio/addNewProject" method="get" style="padding-left: 0px">
                <div class="form-group">
                    <div class="input-group col-sm-4" style="margin-left: -15px">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="">Project Name</span>
                        </div>
                        <input class="form-control" type="text" name="projectName" >
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group col-sm-4" style="margin-left: -15px">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="">Project Descs</span>
                        </div>
                        <input class="form-control" type="text" name="projectDesc">
                    </div>
                </div>
                <button type="submit" class="btn btn-light" style="margin-left: 0px">add</button>
            </form>
        </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script>
        function successfulalert() {
            alert("Update completed.");
        }
        // shows edit info form onclick
        function toggle_visibility(){
            test_visibility(document.getElementById("username"));
            test_visibility(document.getElementById("useremail"));
            test_visibility(document.getElementById("userexpertise"));
            test_visibility(document.getElementById("edit_button"));
            test_visibility(document.getElementById("submit_button"));
            function test_visibility(x){
                if (x.style.display === "none") {
                    x.style.display = "block";
                } else {
                    x.style.display = "none";
                }
            }
        }
        function validate(form) {
            var validator = require("email-validator");
            var username = form.username.value;
            var email = form.useremail.value;
            return !(!validator.validate(email) || username.length < 5);
        }
    </script>
        <div class="footer" >
            <div id="google_translate_element" ></div>
            <script type="text/javascript">
                function googleTranslateElementInit() {
                    new google
                        .translate
                        .TranslateElement({
                            pageLanguage: 'en',
                            includedLanguages: 'en,fr,es,ko,ja,hi,id,zh-CN'
                        },
                            'google_translate_element');
                }
            </script>

            <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

            <p style = "position: fixed; bottom: 0; width:100%; text-align: center; font-size: 80%;">Copyright © 2020 · My E-Portfolio Unimelb</p>
        </div>

</div>
</body>
</html>