<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script href="/js/bootstrap.js"></script>
    <title>user-project</title>
    <style>

        html, body {
            height: 100%;
        }

        .project-body {
            height: 100%;
        }

        body { background:rgba(26,38,57,1)}

        .logo_text {
            font-size: 250%;
        }
        .card-body {
            width: auto;
            background-color:rgba(26,38,57,1);
            color: lightgoldenrodyellow;
            border: none;
        }
        .comment-button {
            background-color: lightgoldenrodyellow;
            color: #1A2639;
            font: bolder;
        }
        .nav-btn {
            margin-left: 30px;
        }
        /* Right-aligned section inside the top navigation */
        .topnav-right {
            float: right;
        }

        #right-panel {
            background-color:rgba(194,77,44,1);
            color:rgba(246,225,184,1);
            width: 150px;
            font-size: 150%;
            border:none;
        }
        #right-panel:hover{
            color: rgba(194,77,44,1);
            background-color: rgba(246,225,184,1);
        }

        .textbox{
            background-color: white;
        }

        .nav {
            background-color:rgba(26,38,57,1);
            padding-left: unset;
        }
    </style>
</head>
<body onload = "str_to_html();">
<div class="container-fluid" >
    <nav class="navbar nav">
        <ul class="navbar-nav">
            <div >
                <span  class = 'logo_text' style="color:rgba(194,77,44,1);">My</span>
                <span  class = 'logo_text' style="color:rgba(246,225,184,1);">E</span>
                <span  class = 'logo_text' style="color:rgba(194,77,44,1);">Portfolio</span>
            </div>
        </ul>
        <div class = "topnav-right">
            <div class ="row">
                <ul class="navbar-nav nav-btn">
                    <form action="/" method="get">
                        <button class = "btn" id="right-panel">E-Portfolio</button>
                    </form>
                </ul>
                <ul class="navbar-nav nav-btn">
                    <form action="/" method="get">
                        <button class = "btn" id="right-panel">Homepage</button>
                    </form>
                </ul>
                <ul class="navbar-nav nav-btn">
                    <form action="/language" method="get">
                        <button class = "btn" id="right-panel">Setting</button>
                    </form>
                </ul>
                <ul class="navbar-nav nav-btn">
                    <form action="/api/logout" method="get">
                        <button class = "btn" id="right-panel">Logout</button>
                    </form>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Redirect to edit page -->
    <form action= "/user-eportfolio/user-project/edit-project/<%=project._id%>" method="get">
        <button class = "btn" id="right-panel">Edit project</button>
    </form>

</div>
    <!-- textboxs -->

    <div class = "project-body" >
        <% if(project){ %>
            <% for(var i=0; i<project.textboxs.length;i++){%>
                <div class="textbox" style = "border:3px solid red; top:<%= project.textboxs[i].top%>;left:<%= project.textboxs[i].left%>;height:<%= project.textboxs[i].height%>;width:<%= project.textboxs[i].width%>;position:absolute">
                    <%=project.textboxs[i].text%>
                </div>
            <%}%>
        <%}%>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="commentForm" tabindex="-1" role="dialog" aria-labelledby="commentFormLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Leave your comments here!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <form action="/user-eportfolio/user-project/<%=project._id%>" class="contact-form" method="POST" target="_blank" onsubmit="return doComment(this);">
                        <div>
                            <label for="visitor" class="col-form-label">Visitor Name</label>
                            <input type="text" id="visitor" name="visitorName" placeholder="Type in your name" class="form-control" required />
                        </div>
                        <div>
                            <label for="entercomment" class="col-form-label" >Comments</label>
                            <textarea id="entercomment" name="comment" class="form-control" placeholder="Leave a message" required></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-secondary">Send</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid"  id="comment">

        <h2 style="color:#3D5476;">Comments</h2>
        <!-- Button trigger modal -->

        <% if (project.comments) { %>
            <% project.comments.forEach( function (comment) { %>
                <div id="comment_text" class="card card-body mb-3" style="color: rgba(246,225,184,1); background-color: rgba(38,53,77,1);">
                    <h4 class="card-title"><%= comment.visitorName%> : </h4>
                    <h5 class="card-text"><%= comment.comment%></h5>
                </div>
            <% }) %>
        <% } else { %>
            <p> No comments currently</p>
        <% } %>
        <button type="button" id="commentButton" class="btn btn-primary comment-button" data-toggle="modal"data-target="#commentForm">
            Add Your Comment
        </button>
    </div>

    <br/>
    <div id="submitted">
    </div>
    <script language="JavaScript" type="text/javascript" src="/js/bootstrap.js"></script>
    <script language="JavaScript" type="text/javascript">
        $(document).ready(function(){
            $('.carousel').carousel({
                interval: 5000
            })
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script>
        function doComment (form) {
            $.ajax({
                url:"/user-eportfolio/user-project/<%=project._id%>",
                method:"POST",
                data: {visitorName: form.visitorName.value, comment: form.comment.value},
                success: function(res){
                    alert(res);
                }
            });
            return false;
        }
    </script>
    <script>
        function str_to_html(){
            var textbox = document.getElementsByClassName("textbox");
            var i;
            for (i = 0; i < textbox.length; i++) {
                console.log(textbox[i].innerText);
                textbox[i].innerHTML = textbox[i].innerText;
            }
        }
    </script>
<script> function test(){
    console.log("testing");
    } </script>


</body>
</html>